.DS_Store

xcuserdata/
GoogleService-Info.plist

Pods/Pods.xcodeproj/xcuserdata/ms.xcuserdatad/xcschemes/xcschememanagement.plist

EGO.xcodeproj/xcuserdata/ms.xcuserdatad/xcschemes/xcschememanagement.plist
