<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826949985719-2jqc869jb714tetpdgevuj5pir7r86fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826949985719-2jqc869jb714tetpdgevuj5pir7r86fr</string>
	<key>API_KEY</key>
	<string>AIzaSyDmigb2T8-wdmfKK-cDCqNk_ljoRj3ErsM</string>
	<key>GCM_SENDER_ID</key>
	<string>826949985719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.induk.EGO</string>
	<key>PROJECT_ID</key>
	<string>ego-project-1676966724357</string>
	<key>STORAGE_BUCKET</key>
	<string>ego-project-1676966724357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826949985719:ios:f1db9f027697f57d617432</string>
</dict>
</plist>